* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #efefea;
}

a{
    text-decoration: none;
}

.container {
    width: calc(100vw - 5px);
    height: 100vh;
    position: relative;
}

.title {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    background: linear-gradient(to bottom, #9a9999 0%, #efefea 100%);
    z-index: 11;

}

.lemaSuenioEterno{
    position: absolute;
    left: 32%;
    top: 51%;
    width: 36%;
    z-index: 5;
}

.title img {
    height: 70px;
    padding-top: 10px;
}

.container_video {
    width: 80%;
    height: 93vh;
    margin: auto;
    object-fit: cover;
    position: relative;
}

.container_images {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.video {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.fondogris_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 1s ease-in-out;
}

.image {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    transition: all 1s ease-in-out;
    object-fit: cover;
}

.imageInd{
    width: 30%;
    height: 100vh;
    transition: all 1s ease-in-out;
    position: relative;
}

.fondogris_image1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 1s ease-in-out;
}

.container_image2 {
    display: flex;
    width: 100%;
    height: 90vh;
}

.section1_Image2{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 32%;
    margin: auto;
    width: 50%;
}

.section2_Image2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image2 {
    margin: auto;
    width: 70%;
    transform: translateX(80%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.titulo_Image2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #848b62;
    text-transform: uppercase;
    font-size: 80px;
    transform: translateX(-40%);
    transition: all 1s ease-in-out;
    width: 100%;
}

.subtitle_Image2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 50px;
    text-align: end;
    transform: translateY(500px);
    transition: all 1s ease-in-out;
}

.paragraph_Image2{
    font-family: "Epilogue", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: end;
    width: 57%;
    font-size: 20px;
    transform: translateY(500px);
    transition: all 1s ease-in-out;
}

.btnDiscover{
    background-color: white;
    border: 1px solid #848b62;
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: end;
    color: #848b62;
    padding: 8px 40px;
    margin-top: 30px;
    transform: translateX(-500px);
    transition: all 1s ease-in-out;
}
